<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button routerLink="/home">back</ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>

    </ion-toolbar>
  </ion-header>


  <ion-title size="large">crypto</ion-title>
  <div style="display: block;">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [plugins]="lineChartPlugins"
            [legend]="lineChartLegend"
            [type]="lineChartType"
            [ngClass]="{'custom-class': true}"
            [ngStyle]="{'background-color': 'red'}">
    </canvas>
  </div>
</ion-content>
