<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ruleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ruleta</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="spinWheel()" expand="full">Girar Ruleta</ion-button>

  <!-- Agrega la estructura de la ruleta aquí -->
  <div class="roulette-container">
    <img *ngFor="let image of images" [src]="image" class="roulette-image" />
  </div>
</ion-content>
