// ruleta.page.scss
ion-header {
  ion-toolbar {
    --ion-background-color: #3498db; // Cambia el color de fondo principal según tus preferencias
    --ion-color-primary: #ecf0f1; // Cambia el color principal según tus preferencias
  }

  ion-title {
    color: #ecf0f1; // Cambia el color del título según tus preferencias
    font-size: 1.8em;
    font-weight: bold;
  }
}

.roulette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; // Ajusta la altura según tus necesidades
}

.roulette {
  width: 80%;
  height: 80%;
  background-color: #ecf0f1; // Cambia el color de fondo según tus preferencias
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.option {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3498db; // Cambia el color de las opciones según tus preferencias
  color: #ecf0f1; // Cambia el color del texto según tus preferencias
  border-radius: 50%;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #2c3e50;
  }
}

ion-button {
  --ion-background-color: #3498db; // Cambia el color de fondo del botón según tus preferencias
  --ion-color-primary: #ecf0f1; // Cambia el color del texto del botón según tus preferencias
  margin-top: 20px;
  font-weight: bold;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}
