<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item> 
      <ion-button routerLink="/home">back</ion-button>
    </ion-item>
  </ion-toolbar>
  <ion-title>Ruleta</ion-title>
</ion-header>

<ion-content>
  <div *ngIf="cryptoData">
    <ion-list>
      <ion-item *ngFor="let crypto of cryptoData">
        <!-- Aquí debes adaptar según la estructura de tu base de datos -->
        <ion-label>{{ crypto.nombre }}</ion-label>
        <ion-label>{{ crypto.valor }}</ion-label>
        <!-- Agrega más etiquetas según las propiedades de tu objeto -->
      </ion-item>
    </ion-list>
  </div>
</ion-content>
