<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngIf="noticias.length > 0" lines="full">
      <ion-thumbnail slot="start" *ngIf="noticias[currentIndex].mostrarImagen">
        <img [src]="noticias[currentIndex].imagen" alt="Imagen de la noticia" class="news-image">
      </ion-thumbnail>
      <ion-label>
        <h2 class="news-title">{{ noticias[currentIndex].titulo }}</h2>
        <p class="news-content" *ngIf="noticias[currentIndex].expanded">{{ noticias[currentIndex].contenido }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" (click)="toggleNewsContent(currentIndex)">
        {{ noticias[currentIndex].expanded ? 'Cerrar' : 'Ver Más' }}
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="toggleImage(currentIndex)">
        {{ noticias[currentIndex].mostrarImagen ? 'Ocultar Imagen' : 'Ver Imagen' }}
      </ion-button>
    </ion-item>
    <ion-button *ngIf="noticias.length > 1" expand="full" (click)="showNextNews()">
      Ver Más Noticias
    </ion-button>
  </ion-list>
</ion-content>

<ion-content>

  <ion-list *ngIf="true"> <!-- Always show the comment section -->
    <ion-item *ngFor="let comentario of noticias[currentIndex].comentarios" lines="none">
      <ion-label>
        <h3>{{ comentario.usuario }}</h3>
        <p>{{ comentario.contenido }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


  <!-- Formulario para agregar comentarios -->
  <ion-item lines="full">
    <ion-label>
      <h3>Agregar Comentario</h3>
    </ion-label>
    <ion-textarea [(ngModel)]="nuevoComentario" placeholder="Escribe un comentario"></ion-textarea>
    <ion-button slot="end" (click)="agregarComentario(currentIndex, 'Anonimus', nuevoComentario)">
      Enviar
    </ion-button>
  </ion-item>
</ion-content>
