<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let noticia of noticias; let i = index" lines="full" [style.display]="i === currentIndex ? 'block' : 'none'">
      <ion-thumbnail slot="start" *ngIf="noticia.mostrarImagen">
        <img [src]="noticia.imagen" alt="Imagen de la noticia" class="news-image">
      </ion-thumbnail>

      <ion-label>
        <h2 class="news-title">{{ noticia.titulo }}</h2>
        <p class="news-content" *ngIf="noticia.expanded">{{ noticia.contenido }}</p>
      </ion-label>

      <ion-button slot="end" fill="clear" (click)="toggleNewsContent(i)">
        {{ noticia.expanded ? 'Cerrar' : 'Ver Más' }}
      </ion-button>

      <ion-button slot="end" fill="clear" (click)="toggleImage(i)">
        {{ noticia.mostrarImagen ? 'Ocultar Imagen' : 'Ver Imagen' }}
      </ion-button>
    </ion-item>
    
    <!-- Button to show more news -->
    <ion-button *ngIf="noticias.length > 1" expand="full" (click)="showNextNews()">
      Ver Más Noticias
    </ion-button>
  </ion-list>
  
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Título de la Noticia</ion-label>
          <ion-input [(ngModel)]="nuevaNoticia.titulo" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contenido de la Noticia</ion-label>
          <ion-textarea [(ngModel)]="nuevaNoticia.contenido" rows="5" required></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">URL de la Imagen</ion-label>
          <ion-input [(ngModel)]="nuevaNoticia.imagen" type="url"></ion-input>
          <ion-text *ngIf="nuevaNoticia.imagen && !esURLValida(nuevaNoticia.imagen)" color="danger">
            Ingresa una URL de imagen válida.
          </ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" class="ion-margin-top" (click)="agregarNoticia()">
    Crear Noticia
  </ion-button>
</ion-content>
