<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2 style="text-align: center; margin-bottom: 20px;">Bienvenido a Propertium Trading</h2>
    <img src="assets/logo Propertium trading/Propertium trading logo.png" alt="Logotipo de Propertium Trading" style="display: block; margin: 0 auto 30px; max-width: 100%; opacity: 0.8;">

    <div style="margin-bottom: 30px;">
      <h3>Nuestra Trayectoria</h3>
      <p>Desde su fundación en [año de fundación], Propertium Trading se ha consolidado como un referente en los mercados financieros y el trading, comprometidos con una experiencia educativa de alta calidad en este sector dinámico.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestra Misión</h3>
      <p>En Propertium Trading, nos enfocamos en ofrecer una plataforma que integra el entretenimiento con una educación completa en los principios del trading. Buscamos proporcionar una experiencia realista para que nuestros usuarios adquieran conocimientos sólidos, tomen decisiones fundamentadas y mejoren sus habilidades de trading.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestra Plataforma</h3>
      <p>Propertium Trading es una plataforma interactiva que recrea con precisión los movimientos y comportamientos de los mercados financieros. Permite a los participantes experimentar la emoción y los desafíos del trading en un entorno virtual basado en datos en tiempo real, permitiendo la toma estratégica de decisiones.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestro Valor Diferencial</h3>
      <ul>
        <li><strong>Educación y Entretenimiento Integrados:</strong> Brindamos una experiencia educativa y emocionante, permitiendo a los usuarios aprender mientras disfrutan del proceso.</li>
        <li><strong>Datos Reales y Actuales:</strong> Utilizamos información actualizada de los mercados financieros para garantizar la autenticidad y relevancia de la experiencia.</li>
        <li><strong>Comunidad Participativa:</strong> Fomentamos la interacción entre los usuarios, creando un espacio para compartir ideas, estrategias y experiencias.</li>
      </ul>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestro Equipo</h3>
      <p>Detrás de Propertium Trading hay un equipo altamente calificado y dedicado, compuesto por profesionales en finanzas, desarrollo de juegos y educación. Nuestro objetivo es garantizar que cada aspecto de la plataforma esté meticulosamente diseñado para brindar la mejor experiencia a nuestros jugadores.</p>
    </div>

    <div>
      <h3>Únete a Nosotros</h3>
      <p>¿Estás listo para adentrarte en el apasionante mundo del trading? Únete a la comunidad de Propertium Trading y comienza tu viaje hacia una comprensión profunda de los mercados financieros, con desafiantes niveles, clases interactivas y asistencia personalizada en tu aprendizaje.</p>
    </div>
  </div>
</ion-content>
