<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item> 
      <ion-button routerLink="/home">back</ion-button>
     </ion-item>
    
  </ion-toolbar>
  <ion-title>Sobre nosotros</ion-title>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h2 style="text-align: center; margin-bottom: 20px;">Bienvenido a Propertium Trading</h2>
    <img src="assets/logo Propertium trading/Propertium trading logo.png" alt="Logotipo de Propertium Trading" style="display: block; margin: 0 auto 30px; max-width: 100%; opacity: 0.8;">

    <div style="margin-bottom: 30px;">
      <h3>Nuestra Trayectoria</h3>
      <p>Desde su fundación en 2023, Propertium Trading se ha consolidado como un referente en los mercados financieros y el trading, comprometidos con una experiencia educativa de alta calidad en este sector dinámico.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestra Misión</h3>
      <p>En Propertium Trading, nos enfocamos en ofrecer una plataforma que integra el entretenimiento con una educación completa en los principios del trading. Buscamos proporcionar una experiencia realista para que nuestros usuarios adquieran conocimientos sólidos, tomen decisiones fundamentadas y mejoren sus habilidades de trading.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestra Plataforma</h3>
      <p>Propertium Trading es una plataforma interactiva que recrea con precisión los movimientos y comportamientos de los mercados financieros. Permite a los participantes experimentar la emoción y los desafíos del trading en un entorno virtual basado en datos en tiempo real, permitiendo la toma estratégica de decisiones.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestro Valor Diferencial</h3>
      <ul>
        <li><strong>Educación y Entretenimiento Integrados:</strong> Brindamos una experiencia educativa y emocionante, permitiendo a los usuarios aprender mientras disfrutan del proceso.</li>
        <li><strong>Datos Reales y Actuales:</strong> Utilizamos información actualizada de los mercados financieros para garantizar la autenticidad y relevancia de la experiencia.</li>
        <li><strong>Comunidad Participativa:</strong> Fomentamos la interacción entre los usuarios, creando un espacio para compartir ideas, estrategias y experiencias.</li>
      </ul>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Nuestro Equipo</h3>
      <p>Detrás de Propertium Trading hay un equipo altamente calificado y dedicado, compuesto por profesionales en finanzas, desarrollo de juegos y educación. Nuestro objetivo es garantizar que cada aspecto de la plataforma esté meticulosamente diseñado para brindar la mejor experiencia a nuestros jugadores.</p>
    </div>

    <div style="margin-bottom: 30px;">
      <h3>Noticias y Actualizaciones</h3>
      <p>En Propertium Trading, mantenemos a nuestros usuarios informados sobre las últimas noticias y actualizaciones en el mundo del trading y los mercados financieros. Aquí encontrarás las novedades más recientes que afectan a la industria y a nuestra plataforma:</p>
    
      <div style="margin-top: 20px;">
        <h4>Últimas Noticias:</h4>
        <ul>
          <li><strong>Nueva Característica:</strong> Hemos lanzado una emocionante función que mejorará aún más tu experiencia de trading. Descúbrelo en la sección de funciones destacadas.</li>
          <li><strong>Análisis del Mercado:</strong> Nuestros expertos en finanzas comparten análisis detallados sobre las tendencias actuales del mercado. Mantente al tanto para tomar decisiones más informadas.</li>
          <h4>Actualizaciones de la Plataforma:</h4>
          <ul>
            <li><strong>Mejoras de Rendimiento:</strong> Hemos realizado actualizaciones para garantizar un rendimiento más suave y una experiencia de usuario mejorada.</li>
            <li><strong>Nuevos Contenidos Educativos:</strong> ¡No te pierdas nuestras últimas lecciones interactivas diseñadas para fortalecer tus habilidades de trading!</li>
          </ul>
        </ul>
        <p>Mantente conectado con Propertium Trading para estar al tanto de todas las noticias y mejoras. ¡Tu viaje en el mundo del trading está a punto de volverse aún más emocionante!</p>
        <ion-button [routerLink]="['/noticias-actualizaciones']" >Más información</ion-button>
  
      </div>
    </div>
    <div>
      <h3>Únete a Nosotros</h3>
      <p>¿Estás listo para adentrarte en el apasionante mundo del trading? Únete a la comunidad de Propertium Trading y comienza tu viaje hacia una comprensión profunda de los mercados financieros, con desafiantes niveles, clases interactivas y asistencia personalizada en tu aprendizaje.</p>
      <ion-button [routerLink]="['/login']" >Únete a Nosotros</ion-button>
    </div>
  </div>

  

    </ion-content>