<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>asistend</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">asistend</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>



<ion-header>
  <ion-toolbar>
    <ion-title>
      Asistente Virtual
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="startListening()">Iniciar Asistente</ion-button>
  <ion-button (click)="stopListening()">Detener Asistente</ion-button>
</ion-content>
