<ion-content [fullscreen]="true">
<ion-item>
  <ion-button routerLink="/home">back</ion-button>
</ion-item>
  <ion-button (click)="login()" *ngIf="!(auth.isAuthenticated$ | async)">
    <ion-icon name="log-in"></ion-icon>
    Iniciar sesión
  </ion-button>

  <ion-button (click)="logout()" *ngIf="(auth.isAuthenticated$ | async)">
    <ion-icon name="log-out"></ion-icon>
    Cerrar sesión
  </ion-button>

  <div *ngIf="auth.user$ | async as user" class="user-info">
    <ion-avatar>
      <img [src]="user.picture" alt="User Avatar">
    </ion-avatar>
    <div class="user-details">
      <h2>{{ user.name }}</h2>
      <p>{{ user.email }}</p>
    </div>
  </div>
</ion-content>
