/* login.page.scss */

ion-content {
  background-color: #212121;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeIn 1s ease-in-out; /* Animación de entrada suave */
}

ion-button {
  margin: 10px;
  font-size: 18px;
  --background: #4CAF50;
  --color: #ffffff;
  --border-radius: 15px; /* Bordes redondeados para un aspecto más elegante */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra suave para resaltar */
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s; /* Transiciones suaves */
}

ion-button:hover {
  --background: #45a049;
  --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Sombra ligeramente más pronunciada en el hover */
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  font-size: 20px;
  animation: fadeInUp 1s ease-in-out; /* Animación de desplazamiento hacia arriba */
}

li {
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #333333;
  border-radius: 12px; /* Bordes redondeados para un aspecto más sofisticado */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada para resaltar */
  animation: fadeIn 1s ease-in-out; /* Animación de entrada suave */
}

ion-avatar {
  margin-right: 20px;
  animation: rotate 3s infinite linear; /* Animación de rotación continua */
}

.user-details {
  flex: 1;
  animation: fadeIn 1s ease-in-out; /* Animación de entrada suave */
}

h2 {
  font-size: 24px;
  margin-bottom: 10px; /* Aumenta el espacio inferior para mejorar la disposición */
  color: #ffffff;
  font-weight: bold; /* Texto en negrita para mayor énfasis */
}

p {
  font-size: 18px;
  color: #aaaaaa;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
