<ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button routerLink="/home">back</ion-button>
    </ion-item>
    <ion-title>Detalles de la Casa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="item">
    <div class="image-container">
      <ion-button (click)="cambiarImagenAnterior(item)" class="arrow-button" size="small">Anterior</ion-button>
      <img [src]="item.imagenes[item.imagenActual]" alt="{{ item.nombre }}" />
      <ion-button (click)="cambiarImagenSiguiente(item)" class="arrow-button" size="small">Siguiente</ion-button>
    </div>
    <ion-card-header>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ item.descripcion }}</ion-card-subtitle>
      <p>Precio: {{ item.precio }}</p>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>
