<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Comunidad</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/asistend">
        <ion-icon slot="icon-only" name="people"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  class="community-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>¡Comparte tu mensaje!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input
          placeholder="Escribe tu mensaje"
          [(ngModel)]="mensaje"
          (keyup.enter)="publicarMensaje()"
        ></ion-input>
      </ion-item>

      <ion-button expand="full" (click)="publicarMensaje()" [disabled]="!mensaje.trim()">
        Publicar
      </ion-button>
      <ion-list *ngIf="user && user.picture && mensajes.length > 0">
        <ion-item *ngFor="let mensajeItem of mensajes">
          <ion-avatar>
            <img [src]="user.picture" >
          </ion-avatar>
          <ion-label>
            <h2>{{ user.name }}</h2>
            <p>{{ mensajeItem }}</p>
            <ion-note>
              <ion-icon name="time-outline"></ion-icon>
              {{ getCurrentTime() }}
            </ion-note>
          </ion-label>
        </ion-item>
      </ion-list>


      <div *ngIf="mensajes.length === 0" class="empty-message">
        ¡Aún no hay mensajes en la comunidad!
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
