<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-searchbar placeholder="Buscador" animated (ionChange)="searchCustomer($event)"></ion-searchbar> -->
    <ion-title>Buscador</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let result of results">
    <ion-label>{{ result }}</ion-label>
  </ion-item>
</ion-list> -->



<ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let result of results">
    <ion-label>{{ result }}</ion-label>
  </ion-item>
</ion-list>