ion-content {
  --ion-background-color: #f2f2f2; /* Cambia el color de fondo según tus preferencias */

  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta la distribución para dejar espacio entre los botones */
    height: 100%;
    padding: 0 15px; /* Añade un espacio adicional si lo deseas */
  }

  ion-button {
    font-weight: bold;
  }

  ion-icon {
    margin-right: 8px;
  }
}
