<!-- <ion-header>
  <ion-toolbar>
    <ion-item>
      <ion-button routerLink="/home">back</ion-button>
    </ion-item>
    <ion-title>
      Noticias y Actualizaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Noticias
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let noticia of noticias">
          {{ noticia.titulo }}
          <p>{{ noticia.contenido }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Actualizaciones
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let actualizacion of actualizaciones">
          {{ actualizacion.titulo }}
          <p>{{ actualizacion.contenido }}</p>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      Noticias y Actualizaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row justify-content-center align-items-center>
    <ion-col size="10" class="ion-text-center">
      <ion-button expand="full" color="primary" routerLink="/noticias">
        <ion-icon name="newspaper-outline" slot="start"></ion-icon>
        Noticias
      </ion-button>
    </ion-col>
    <ion-col size="10" class="ion-text-center">
      <ion-button expand="full" color="secondary" routerLink="/actualizaciones">
        <ion-icon name="sync-outline" slot="start"></ion-icon>
        Actualizaciones
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
